@import url('style.css');

h1 {
    text-decoration: underline;
    text-align: center;
}

.main-content {
    height: auto;
}

.main-content > .profile-wrapper {
}

.main-content > .profile-wrapper > .profile-content {
    display: block;
    grid-template-columns: 100%;
    grid-gap: 5%;
}

.main-content > .profile-wrapper > .profile-content > div{
    margin: 5% 0;
}

