@import url('styles.css');
h1 {
    text-decoration: underline;
    text-align: center;
}
a {
    color: var(--secondary-brand-color);
    text-decoration: none;
    transition: 1s;
}

a:hover {
    color: var(--primary-brand-color);
}

.references-content {
    display: block;
}